<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add Student</title>
  </head>
  <body>
    <form action="add-student" method="post">
      <input type="text" name="name" placeholder="Name" />
      <br></br>
      <input type="email" name="email" placeholder="email" />
      <br></br> 
      <input type="number" name="age" placeholder="Age" />
      <br></br>
      <button type="submit">Add Student</button> 
    </form>
  </body>
</html>
