<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body>
    <table border="1">
      <tr>
        <td>Name</td>
        <td>Age</td>
        <td>Email</td>
      </tr>
      <%students.forEach(students=>{%>
      <tr>
        <td><%=students.name%></td>
        <td><%=students.age%></td>
        <td><%=students.email%></td>
      </tr>
      <%})%>
    </table>
  </body>
</html>
